@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#sidebar-progressmeter:not([hidden="true"])
{
	margin: 0;
	padding: 0;
	border: none;
	-moz-outline: none;
	opacity: 0.3;
	-moz-opacity: 0.3;
}


#sidebar-dock-button,
#sidebar-undock-button {
	margin: 1px;
	padding: 2px;
	border: 0;
}

#sidebar-dock-button {
	list-style-image: url('chrome://ezsidebar/skin/dock.png');
}
#sidebar-dock-button:active {
	list-style-image: url('chrome://ezsidebar/skin/dock-active.png');
}
#sidebar-undock-button {
	list-style-image: url('chrome://ezsidebar/skin/undock.png');
}
#sidebar-undock-button:active {
	list-style-image: url('chrome://ezsidebar/skin/undock-active.png');
}

/*
#sidebar-dock-button:hover,
#sidebar-undock-button:hover {
	border: 1px -moz-bg-outset;
	margin: 0;
}

#sidebar-dock-button:active,
#sidebar-undock-button:active {
	border: 1px -moz-bg-inset;
	margin: 0;
}
*/


menuitem[dragover-top="true"] {
	border-top: solid ThreeDDarkShadow 1px !important;
}

menuitem[dragover-bottom="true"] {
	border-bottom: solid ThreeDDarkShadow 1px !important;
}
