@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#ezsidebar-toggle-button {
  list-style-image: url('chrome://ezsidebar/skin/toggle.png');
}
#ezsidebar-toggle-button:active {
  list-style-image: url('chrome://ezsidebar/skin/toggle-active.png');
}

toolbar[iconsize="small"] #ezsidebar-toggle-button {
  list-style-image: url('chrome://ezsidebar/skin/toggle-small.png');
}
toolbar[iconsize="small"] #ezsidebar-toggle-button:active {
  list-style-image: url('chrome://ezsidebar/skin/toggle-small-active.png');
}

