
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.menuitem-iconic[ezsidebar-item="true"] image {
	max-width: 16px !important;
	max-height: 16px !important;
}


#sidebar-splitter grippy {
	visibility: collapse;
}
#sidebar-splitter[showgrippy="true"] grippy {
	visibility: visible;
}

[windowtype="navigator:browser"] [ezsidebar-inSidebarWindow="true"],
[windowtype="mozilla:sidebar"] [ezsidebar-inHostWindow="true"],
[sidebar="shown"] [ezsidebar-id="ezsidebar:viewSidebarMenu:show"],
[sidebar="hidden"] [ezsidebar-id="ezsidebar:viewSidebarMenu:hide"],
[sidebarstate="docked"] [ezsidebar-id="ezsidebar:viewSidebarMenu:dock"],
[sidebarstate="undocked"] [ezsidebar-id="ezsidebar:viewSidebarMenu:undock"],
[sidebarcollapsed="true"] [ezsidebar-id="sidebarPanelPopup:collapse"],
[sidebarcollapsed="false"] [ezsidebar-id="sidebarPanelPopup:expand"],
[windowtype="mozilla:sidebar"] #context-addLinkSidebarPanel,
[windowtype="mozilla:sidebar"] #context-addSidebarPanel {
	display: none;
}


#sidebar-dock-button,
#sidebar-undock-button,
#sidebar-progressmeter
{
	display: -moz-box !important;
}




#sidebar-progressmeter
{
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
}



#sidebar-dock-button,
#sidebar-undock-button {
	-moz-binding: url('chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image');
}



#ezsidebar-window #sidebar,
#ezsidebar-window #sidebar-userdefined {
	width: 100% !important;
	max-width: 100% !important;
}


[ezsidebar-menuType="panelsmenu"] [ezsidebar-inContextMenu="true"],
[ezsidebar-menuType="contextmenu"] [ezsidebar-inPanelsMenu="true"] {
	display: none !important;
}


#sidebar-box browser[collapsed="true"] {
	-moz-user-focus: ignore;
	-moz-user-select: none;
	-moz-user-input: none;
}



/*
	Hack for Optimoz Tweaks or others:

	"display: none" (equals 'hidden="true"') prevents to initialize hidden
	inline frames ("browser" widget) so I was used "visibility:collapse"
	(equals'collapsed="true"') instead of it.
	But some extensions only see "hidden" attribute. So, when Ez Sidebar is
	installed, they were broken.
	Now, I use "hidden" attribute isntead of "collapsed" attribute but
	change the mean, "display:none" to "visibility:collapse".
*/
#sidebar-box[hidden="true"] {
	display: -moz-box !important;
	visibility: collapse !important;
}
