@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#sidebar-splitter {
	visibility: collapse !important;
}

/*
	Hack for Optimoz Tweaks or others:

	"display: none" (equals 'hidden="true"') prevents to initialize hidden
	inline frames ("browser" widget) so I was used "visibility:collapse"
	(equals'collapsed="true"') instead of it.
	But some extensions only see "hidden" attribute. So, when Ez Sidebar is
	installed, they were broken.
	Now, I use "hidden" attribute isntead of "collapsed" attribute but
	change the mean, "display:none" to "visibility:collapse".
*/
#sidebar-box[hidden="true"] {
	display: -moz-box !important;
	visibility: collapse !important;
}
